<nav class="navbar navbar-expand-sm bg-dark navbar-dark">


  <a class="navbar-brand fs-3 p-2"> {{ title }}</a>

  <div class="d-flex justify-content-end">

    <ul class="navbar-nav mt-2">

      <li class="nav-item">
        <a routerLink="campaigns" routerLinkActive="active" class="nav-link">Campaign List</a>
      </li>

      <li class="nav-item">
        <a routerLink="create-campaign" routerLinkActive="active" class="nav-link">Create New Campaign</a>
      </li>

      <li class="nav-item">
        <a routerLink="campaigns-status" routerLinkActive="active" class="nav-link">Campaigns Status</a>
      </li>

    </ul>
  </div>
</nav>




<div class="container mt-4">

  <router-outlet></router-outlet>

</div>